<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.multiverse.campusauction.mapper.BidRecordMapper">

    <resultMap id="BaseResultMap" type="org.multiverse.campusauction.domain.BidRecord">
            <id property="id" column="id" />
            <result property="itemId" column="item_id" />
            <result property="userId" column="user_id" />
            <result property="bidPrice" column="bid_price" />
            <result property="bidTime" column="bid_time" />
            <result property="isWin" column="is_win" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="delFlag" column="del_flag" />
    </resultMap>

    <sql id="Base_Column_List">
        id,item_id,user_id,bid_price,bid_time,is_win,
        create_time,update_time,del_flag
    </sql>
</mapper>
